### Step 1:Extraction

 1: Importing necessary Libraries

In [2]:
import requests
import pandas as pd
import psycopg2
import json

 2: Carry out necessary Extraction

In [3]:
url = "https://realty-mole-property-api.p.rapidapi.com/randomProperties"

querystring = {"limit":"5"}

headers = {
	"x-rapidapi-key": "517b9c4d17msh3312c1f5cbd8bf1p1a9a23jsnedc065d9e6ac",
	"x-rapidapi-host": "realty-mole-property-api.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

In [37]:
print(response.json())

[{'addressLine1': '16112 Crabbs Branch Way', 'city': 'Derwood', 'state': 'MD', 'zipCode': '20855', 'formattedAddress': '16112 Crabbs Branch Way, Apt 11, Derwood, MD 20855', 'addressLine2': 'Apt 11', 'features': {}, 'county': 'Montgomery', 'id': '16112-Crabbs-Branch-Way,-Apt-11,-Derwood,-MD-20855', 'longitude': -77.156909, 'latitude': 39.118854}, {'addressLine1': '914 Collier Rd NW', 'city': 'Atlanta', 'state': 'GA', 'zipCode': '30318', 'formattedAddress': '914 Collier Rd NW, Apt 3330, Atlanta, GA 30318', 'addressLine2': 'Apt 3330', 'county': 'Fulton', 'propertyType': 'Apartment', 'bedrooms': 2, 'bathrooms': 2, 'squareFootage': 1032, 'features': {}, 'id': '914-Collier-Rd-NW,-Apt-3330,-Atlanta,-GA-30318', 'longitude': -84.415953, 'latitude': 33.80869}, {'addressLine1': '11990 Prairie Ln', 'city': 'Lusby', 'state': 'MD', 'zipCode': '20657', 'formattedAddress': '11990 Prairie Ln, Lusby, MD 20657', 'bedrooms': 3, 'squareFootage': 1714, 'yearBuilt': 2006, 'features': {'architectureType': 'Conventional', 'cooling': True, 'coolingType': 'Commercial', 'exteriorType': 'Aluminum / Vinyl Siding', 'fireplace': True, 'fireplaceType': 'Gas Log', 'floorCount': 2, 'garage': True, 'garageSpaces': 2, 'garageType': 'Attached Garage', 'heating': True, 'heatingType': 'Heat Pump', 'roofType': 'Composition Shingle', 'unitCount': 1}, 'county': 'Calvert', 'assessorID': '01-093894', 'legalDescription': 'LT 19 SEC 1F CHES RANCH ESTS', 'subdivision': 'CHES RANCH ESTATES', 'zoning': 'R', 'ownerOccupied': True, 'bathrooms': 2.5, 'propertyType': 'Single Family', 'taxAssessment': {'2022': {'value': 241767}}, 'propertyTaxes': {'2022': {'total': 2512}}, 'lastSalePrice': 339900, 'lastSaleDate': '2006-05-30T00:00:00.000Z', 'owner': {'names': ['TAMMY Z BELISARIO'], 'mailingAddress': {'id': '11990-Prairie-Ln,-Lusby,-MD-20657', 'addressLine1': '11990 Prairie Ln', 'city': 'Lusby', 'state': 'MD', 'zipCode': '20657'}}, 'id': '11990-Prairie-Ln,-Lusby,-MD-20657', 'longitude': -76.426234, 'latitude': 38.356525}, {'addressLine1': '1310 Ashville Rd', 'city': 'Leeds', 'state': 'AL', 'zipCode': '35094', 'formattedAddress': '1310 Ashville Rd, Leeds, AL 35094', 'bedrooms': 3, 'squareFootage': 1398, 'county': 'Jefferson', 'propertyType': 'Single Family', 'features': {}, 'id': '1310-Ashville-Rd,-Leeds,-AL-35094', 'longitude': -86.535094, 'latitude': 33.553497}, {'addressLine1': '216 N Apple St', 'city': 'Hamburg', 'state': 'PA', 'zipCode': '19526', 'formattedAddress': '216 N Apple St, Apt 1, Hamburg, PA 19526', 'addressLine2': 'Apt 1', 'county': 'Berks', 'features': {}, 'id': '216-N-Apple-St,-Apt-1,-Hamburg,-PA-19526', 'longitude': -75.984661, 'latitude': 40.559012}]

let first save this response file as a json file

In [38]:
data= response.json()

file_name= 'real_estate.json'

with open(file_name, 'w') as file:
    json.dump(data,file, indent=4)

In [39]:
real_estate_df=pd.read_json('real_estate.json')

real_estate_df.head()

,addressLine1,city,state,zipCode,formattedAddress,addressLine2,features,county,id,longitude,...,assessorID,legalDescription,subdivision,zoning,ownerOccupied,taxAssessment,propertyTaxes,lastSalePrice,lastSaleDate,owner
0,16112 Crabbs Branch Way,Derwood,MD,20855,"16112 Crabbs Branch Way, Apt 11, Derwood, MD 2...",Apt 11,{},Montgomery,"16112-Crabbs-Branch-Way,-Apt-11,-Derwood,-MD-2...",-77.156909,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,914 Collier Rd NW,Atlanta,GA,30318,"914 Collier Rd NW, Apt 3330, Atlanta, GA 30318",Apt 3330,{},Fulton,"914-Collier-Rd-NW,-Apt-3330,-Atlanta,-GA-30318",-84.415953,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11990 Prairie Ln,Lusby,MD,20657,"11990 Prairie Ln, Lusby, MD 20657",NaN,"{'architectureType': 'Conventional', 'cooling'...",Calvert,"11990-Prairie-Ln,-Lusby,-MD-20657",-76.426234,...,01-093894,LT 19 SEC 1F CHES RANCH ESTS,CHES RANCH ESTATES,R,1.0,{'2022': {'value': 241767}},{'2022': {'total': 2512}},339900.0,2006-05-30T00:00:00.000Z,"{'names': ['TAMMY Z BELISARIO'], 'mailingAddre..."
3,1310 Ashville Rd,Leeds,AL,35094,"1310 Ashville Rd, Leeds, AL 35094",NaN,{},Jefferson,"1310-Ashville-Rd,-Leeds,-AL-35094",-86.535094,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,216 N Apple St,Hamburg,PA,19526,"216 N Apple St, Apt 1, Hamburg, PA 19526",Apt 1,{},Berks,"216-N-Apple-St,-Apt-1,-Hamburg,-PA-19526",-75.984661,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
real_estate_df.columns

Index(['addressLine1', 'city', 'state', 'zipCode', 'formattedAddress',
       'addressLine2', 'features', 'county', 'id', 'longitude', 'latitude',
       'propertyType', 'bedrooms', 'bathrooms', 'squareFootage', 'yearBuilt',
       'assessorID', 'legalDescription', 'subdivision', 'zoning',
       'ownerOccupied', 'taxAssessment', 'propertyTaxes', 'lastSalePrice',
       'lastSaleDate', 'owner'],
      dtype='object')

In [97]:
real_estate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   addressLine1      5 non-null      object
 1   city              5 non-null      object
 2   state             5 non-null      object
 3   zipCode           5 non-null      int64
 4   formattedAddress  5 non-null      object
 5   addressLine2      5 non-null      object
 6   features          5 non-null      object
 7   county            5 non-null      object
 8   id                5 non-null      object
 9   longitude         5 non-null      float64
 10  latitude          5 non-null      float64
 11  propertyType      5 non-null      object
 12  bedrooms          5 non-null      float64
 13  bathrooms         5 non-null      float64
 14  squareFootage     5 non-null      float64
 15  yearBuilt         5 non-null      float64
 16  assessorID        5 non-null      object
 17  legalDescription  5 non-null      object
 18  subdivision       5 non-null      object
 19  zoning            1 non-null      object
 20  ownerOccupied     5 non-null      float64
 21  taxAssessment     5 non-null      object
 22  propertyTaxes     5 non-null      object
 23  lastSalePrice     5 non-null      object
 24  lastSaleDate      5 non-null      object
 25  owner             5 non-null      object
dtypes: float64(7), int64(1), object(18)
memory usage: 1.1+ KB

## Step2: Cleaning/ Transformation Layer
In this layer we would proceed to cleaning the data and breaking it into smaller tables/columns(normalization)

first lets replace missing values

In [98]:
# replacing missing values with appropriate replacements
real_estate_df.fillna({
    'bedrooms':0.0,
    'bathrooms':0.0,
    'squareFootage':0.0,
    'yearBuilt':0.0,
    'features': 'unknown',
    'assessorID':'unknown',
    'legalDescription':'unknown',
    'subdivision':'unknown',
    'ownerOccupied':0.0,
    'bathrooms':0.0,
    'lotSize':0.0,
    'propertyType':'unknown',
    'taxAssessment':'unknown',
    'propertyTaxes':'unknown',
    'lastSalePrice':'0.0',
    'zoning ':'unknown',
    'addressLine2':'unknown',
    'owner':'unknown'
}, inplace=True)

In [99]:
real_estate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   addressLine1      5 non-null      object
 1   city              5 non-null      object
 2   state             5 non-null      object
 3   zipCode           5 non-null      int64
 4   formattedAddress  5 non-null      object
 5   addressLine2      5 non-null      object
 6   features          5 non-null      object
 7   county            5 non-null      object
 8   id                5 non-null      object
 9   longitude         5 non-null      float64
 10  latitude          5 non-null      float64
 11  propertyType      5 non-null      object
 12  bedrooms          5 non-null      float64
 13  bathrooms         5 non-null      float64
 14  squareFootage     5 non-null      float64
 15  yearBuilt         5 non-null      float64
 16  assessorID        5 non-null      object
 17  legalDescription  5 non-null      object
 18  subdivision       5 non-null      object
 19  zoning            1 non-null      object
 20  ownerOccupied     5 non-null      float64
 21  taxAssessment     5 non-null      object
 22  propertyTaxes     5 non-null      object
 23  lastSalePrice     5 non-null      object
 24  lastSaleDate      5 non-null      object
 25  owner             5 non-null      object
dtypes: float64(7), int64(1), object(18)
memory usage: 1.1+ KB

In [100]:
real_estate_df['features']=real_estate_df['features'].astype(str)

In [101]:
real_estate_df['taxAssessment']=real_estate_df['taxAssessment'].astype(str)

In [102]:
real_estate_df['propertyTaxes']=real_estate_df['propertyTaxes'].astype(str)

In [103]:
real_estate_df['owner']=real_estate_df['owner'].astype(str)

In [104]:
real_estate_df['lastSaleDate']=real_estate_df['lastSaleDate'].astype(str)

## Wanted to change the date format to datetime

#real_estate_df['lastSaleDate']=pd.to_datetime(real_estate_df['lastSaleDate'])
#real_estate_df['lastSaleDate']=real_estate_df.to_datetime['lastSaleDate']

In [105]:
real_estate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   addressLine1      5 non-null      object
 1   city              5 non-null      object
 2   state             5 non-null      object
 3   zipCode           5 non-null      int64
 4   formattedAddress  5 non-null      object
 5   addressLine2      5 non-null      object
 6   features          5 non-null      object
 7   county            5 non-null      object
 8   id                5 non-null      object
 9   longitude         5 non-null      float64
 10  latitude          5 non-null      float64
 11  propertyType      5 non-null      object
 12  bedrooms          5 non-null      float64
 13  bathrooms         5 non-null      float64
 14  squareFootage     5 non-null      float64
 15  yearBuilt         5 non-null      float64
 16  assessorID        5 non-null      object
 17  legalDescription  5 non-null      object
 18  subdivision       5 non-null      object
 19  zoning            1 non-null      object
 20  ownerOccupied     5 non-null      float64
 21  taxAssessment     5 non-null      object
 22  propertyTaxes     5 non-null      object
 23  lastSalePrice     5 non-null      object
 24  lastSaleDate      5 non-null      object
 25  owner             5 non-null      object
dtypes: float64(7), int64(1), object(18)
memory usage: 1.1+ KB

In [106]:
# creating the dimension tables
#location dimension
location_dim=real_estate_df[['addressLine1','city','state','zipCode','formattedAddress','county','longitude',\
                             'latitude','addressLine2']].copy().drop_duplicates().reset_index(drop=True)

In [107]:
location_dim.index.name='location_id'

In [108]:
location_dim = location_dim.reset_index()

In [109]:
location_dim.columns

Index(['location_id', 'addressLine1', 'city', 'state', 'zipCode',
       'formattedAddress', 'county', 'longitude', 'latitude', 'addressLine2'],
      dtype='object')

In [110]:
# sales dimension
sales_dim=real_estate_df[['lastSalePrice','lastSaleDate']].copy().drop_duplicates().reset_index(drop=True)
sales_dim.index.name='sales_id'

In [111]:
sales_dim.index.name='sales_id'

In [112]:
sales_dim = sales_dim.reset_index()

In [113]:
sales_dim.columns

Index(['sales_id', 'lastSalePrice', 'lastSaleDate'], dtype='object')

In [114]:
# features dimension
features_dim=real_estate_df[['bedrooms','squareFootage','features', 'bathrooms','owner' ]].copy().drop_duplicates().reset_index(drop=True)

In [115]:
features_dim.index.name='features_id'

In [116]:
features_dim = features_dim.reset_index()

In [117]:
features_dim.columns

Index(['features_id', 'bedrooms', 'squareFootage', 'features', 'bathrooms',
       'owner'],
      dtype='object')

In [118]:
# creating our property_fact_table
property_fact_table=real_estate_df.merge(sales_dim,on=['lastSalePrice','lastSaleDate'],how='left')\
                                    .merge(location_dim,on=['addressLine1','city','state','zipCode','formattedAddress','county','longitude','latitude','addressLine2'],how='left' )\
                                    .merge(features_dim,on=['bedrooms','squareFootage','features', 'bathrooms','owner' ],how='left')\
                                     [['id','location_id','sales_id','features_id','yearBuilt','assessorID','legalDescription','ownerOccupied',\
                                    'propertyType','taxAssessment','propertyTaxes','subdivision','zoning']].copy().drop_duplicates().reset_index(drop=True)
#property_fact_table

In [119]:
# save into csv
location_dim.to_csv('location_dim.csv',index=False)
sales_dim.to_csv('sales_dim.csv',index=False)
features_dim.to_csv('features_dim.csv',index=False)
property_fact_table.to_csv('property_fact_table.csv',index=False)

## Step is to draw our data Model on Lucid chart/ draw.io

Now lets build the normalised tables,using the data model we already created as a guide. so we open the data model side by side and start creating the tables with the primary keys first

In [120]:
real_estate_df.columns

Index(['addressLine1', 'city', 'state', 'zipCode', 'formattedAddress',
       'addressLine2', 'features', 'county', 'id', 'longitude', 'latitude',
       'propertyType', 'bedrooms', 'bathrooms', 'squareFootage', 'yearBuilt',
       'assessorID', 'legalDescription', 'subdivision', 'zoning',
       'ownerOccupied', 'taxAssessment', 'propertyTaxes', 'lastSalePrice',
       'lastSaleDate', 'owner'],
      dtype='object')

## Creating Tables & Loading Layer

In [121]:
# Develop a function to get the database connections
def get_db_connection():
    connection = psycopg2.connect(
        host='localhost',
        database='zuma_realtors',
        user='postgres',
        password='Avokerie3'
    )
    return connection

# connect to our database
conn = get_db_connection

In [125]:
# created functions that will set up the schema and the tables
def create_tables():
    conn=get_db_connection()
    cursor=conn.cursor()
    create_table_query= '''
                            CREATE SCHEMA IF NOT EXISTS zuma_realtors;

                            DROP TABLE IF EXISTS zuma_realtors.location_dim CASCADE;
                            DROP TABLE IF EXISTS zuma_realtors.sales_dim CASCADE;
                            DROP TABLE IF EXISTS zuma_realtors.features_dim CASCADE;
                            DROP TABLE IF EXISTS zuma_realtors.property_fact_table CASCADE;                           

                            CREATE TABLE IF NOT EXISTS zuma_realtors.location_dim(
                                location_id INTEGER PRIMARY KEY,
                                addressLine1 VARCHAR(100000),
                                city VARCHAR(100000),
                                state VARCHAR(100000),
                                zipCode INTEGER,
                                formattedAddress VARCHAR(100000),
                                county VARCHAR(100000),
                                longitude INTEGER,
                                latitude INTEGER,
                                addressLine2 VARCHAR(100000)
                                );
                            CREATE TABLE IF NOT EXISTS zuma_realtors.sales_dim(
                                sales_id INTEGER PRIMARY KEY,
                                lastSalePrice FLOAT,
                                lastSaleDate VARCHAR(100000)
                                );
                            CREATE TABLE IF NOT EXISTS zuma_realtors.features_dim(
                                features_id INTEGER PRIMARY KEY,
                                bedrooms FLOAT,
                                squareFootage FLOAT,
                                features VARCHAR(100000),
                                bathrooms FLOAT,
                                owner VARCHAR(100000)
                                );
                            
                            CREATE TABLE IF NOT EXISTS zuma_realtors.property_fact_table(
                                id VARCHAR(100000) PRIMARY KEY,
                                location_id INTEGER,
                                sales_id INTEGER,
                                features_id INTEGER,
                                yearBuilt FLOAT,
                                assessorID VARCHAR(100000),
                                legalDescription VARCHAR(100000),
                                ownerOccupied FLOAT,
                                propertyType VARCHAR(100000),
                                taxAssessment VARCHAR(100000),
                                propertyTaxes VARCHAR(100000),
                                subdivision VARCHAR(100000),
                                zoning VARCHAR(100000),
                                FOREIGN KEY (location_id) REFERENCES zuma_realtors.location_dim(location_id),
                                FOREIGN KEY (sales_id) REFERENCES zuma_realtors.sales_dim(sales_id),
                                FOREIGN KEY (features_id) REFERENCES zuma_realtors.features_dim(features_id)
                                );
                            '''
    cursor.execute(create_table_query)
    conn.commit()
    cursor.close()
    conn.close()

In [126]:
create_tables()

In [127]:
## Now lets load the datasets into the tables
conn=get_db_connection()
cursor=conn.cursor()

# Insert the dataframe into SQL tables
for _,row in location_dim.iterrows():
    cursor.execute(
        '''INSERT INTO zuma_realtors.location_dim(location_id,addressLine1,city,state,zipCode,
                formattedAddress,county,longitude,latitude,addressLine2)
            VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)''',
            (row['location_id'],row['addressLine1'],row['city'],row['state'],row['zipCode'],\
             row['formattedAddress'],row['county'],row['longitude'],row['latitude'],row['addressLine2'])
            )

for _,row in sales_dim.iterrows():
    cursor.execute(
        '''INSERT INTO zuma_realtors.sales_dim(sales_id,lastSalePrice,lastSaleDate)
            VALUES(%s,%s,%s)''',
            (row['sales_id'],row['lastSalePrice'],row['lastSaleDate'])
    )
    
for _,row in features_dim.iterrows():
    cursor.execute(
        '''INSERT INTO zuma_realtors.features_dim(features_id,bedrooms,squareFootage,features,bathrooms,
                owner)
            VALUES(%s,%s,%s,%s,%s,%s)''',
            (row['features_id'],row['bedrooms'],row['squareFootage'],row['features'],row['bathrooms'],\
             row['owner'])
    )

for _,row in property_fact_table.iterrows():
    cursor.execute(
        '''INSERT INTO zuma_realtors.property_fact_table(id,location_id,sales_id,features_id,yearBuilt,assessorID,legalDescription,ownerOccupied,propertyType,taxAssessment,propertyTaxes,subdivision,zoning)
            VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)''',
            (row['id'],row['location_id'],row['sales_id'],row['features_id'],row['yearBuilt'],\
             row['assessorID'],row['legalDescription'],row['ownerOccupied'],row['propertyType'],row['taxAssessment'],row['propertyTaxes'],row['subdivision'],row['zoning'])
            )
    
#commit changes
conn.commit()

#close connection
cursor.close()
conn.close()