### Step 1:Extraction

 1: Importing necessary Libraries

In [5]:
import requests
import pandas as pd
import psycopg2
import json

 2: Carry out necessary Extraction

In [3]:
url = "https://realty-mole-property-api.p.rapidapi.com/randomProperties"

querystring = {"limit":"5"}

headers = {
	"x-rapidapi-key": "517b9c4d17msh3312c1f5cbd8bf1p1a9a23jsnedc065d9e6ac",
	"x-rapidapi-host": "realty-mole-property-api.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

In [4]:
print(response.json())

[{'addressLine1': '1457 W 1625 S', 'city': 'Cedar City', 'state': 'UT', 'zipCode': '84720', 'formattedAddress': '1457 W 1625 S, Unit E, Cedar City, UT 84720', 'addressLine2': 'Unit E', 'county': 'Iron', 'assessorID': 'B-1386-0005-0000', 'legalDescription': 'UNIT 5, CEDAR EDGE P.U.D., PHASE I; TOG W/ UND INT IN COMMON AREA', 'lotSize': 1394, 'propertyType': 'Single Family', 'lastSaleDate': '2022-03-30T00:00:00.000Z', 'ownerOccupied': False, 'features': {}, 'taxAssessment': {'2023': {'value': 135215}}, 'propertyTaxes': {'2023': {'total': 1078}}, 'owner': {'names': ['DAVID SCOTT JENISON', 'BETH JENISON PRISDILIA', 'THE P SCOTT & PRISCILLA B JENISON T'], 'mailingAddress': {'id': '5285-W-3200-S,-Hurricane,-UT-84737', 'formattedAddress': '5285 W 3200 S, Hurricane, UT 84737', 'addressLine1': '5285 W 3200 S', 'city': 'Hurricane', 'state': 'UT', 'zipCode': '84737'}}, 'id': '1457-W-1625-S,-Unit-E,-Cedar-City,-UT-84720', 'longitude': -113.081311, 'latitude': 37.648168}, {'addressLine1': '3326 Spangler Dr', 'city': 'Lexington', 'state': 'KY', 'zipCode': '40517', 'formattedAddress': '3326 Spangler Dr, Lexington, KY 40517', 'assessorID': '14192857', 'county': 'Fayette', 'legalDescription': 'B-596A KIRKLEVINGTON SOUTH LOT 8; BOOK: 3703 PAGE: 242', 'squareFootage': 2414, 'subdivision': 'KIRKLEVINGTON SOUTH', 'yearBuilt': 1978, 'zoning': 'R-3', 'bathrooms': 3, 'lotSize': 8281, 'propertyType': 'Duplex-Triplex', 'lastSalePrice': 209000, 'lastSaleDate': '2019-10-01T00:00:00.000Z', 'bedrooms': 5, 'features': {'architectureType': 'Duplex', 'cooling': True, 'coolingType': 'Central', 'exteriorType': 'Brick / Stone', 'fireplace': True, 'floorCount': 2, 'heating': True, 'heatingType': 'Central'}, 'taxAssessment': {'2019': {'value': 167000}, '2022': {'value': 216700}}, 'propertyTaxes': {'2019': {'total': 2133}, '2022': {'total': 2768}}, 'owner': {'names': ['HOLLENBACK HOMES LLC'], 'mailingAddress': {'id': '195-Roaring-Springs-Ln,-Midway,-KY-40347', 'addressLine1': '195 Roaring Springs Ln', 'city': 'Midway', 'state': 'KY', 'zipCode': '40347'}}, 'id': '3326-Spangler-Dr,-Lexington,-KY-40517', 'longitude': -84.502713, 'latitude': 37.984493}, {'addressLine1': '292 Swaying Pine Ct', 'city': 'Crestview', 'state': 'FL', 'zipCode': '32539', 'formattedAddress': '292 Swaying Pine Ct, Crestview, FL 32539', 'assessorID': '28-3N-23-1020-000C-0960', 'bedrooms': 3, 'county': 'Okaloosa', 'legalDescription': 'ROLLING PINES T/H LOT 96 BLK C', 'ownerOccupied': False, 'squareFootage': 1356, 'subdivision': 'ROLLING PINES T/H', 'yearBuilt': 2007, 'bathrooms': 2, 'lotSize': 1944, 'propertyType': 'Single Family', 'lastSalePrice': 182500, 'lastSaleDate': '2022-10-18T00:00:00.000Z', 'features': {'architectureType': 'Condo / Apartment', 'cooling': True, 'coolingType': 'Central', 'exteriorType': 'Aluminum / Vinyl Siding', 'floorCount': 2, 'garage': True, 'garageType': 'Garage', 'heating': True, 'heatingType': 'Forced Air', 'roofType': 'Composition Shingle', 'unitCount': 1}, 'taxAssessment': {'2020': {'value': 91946, 'land': 15000, 'improvements': 76946}, '2021': {'value': 93233}, '2022': {'value': 96030}, '2023': {'value': 153520, 'land': 20000, 'improvements': 133520}}, 'propertyTaxes': {'2020': {'total': 857}, '2022': {'total': 889}, '2023': {'total': 2484}}, 'owner': {'names': ['Deshawn Anthony Williams', 'Khalilah Marie Williams'], 'mailingAddress': {'id': '24027-139th-Pl-SE,-Kent,-WA-98042', 'formattedAddress': '24027 139th Pl SE, Kent, WA 98042', 'addressLine1': '24027 139th Pl SE', 'city': 'Kent', 'state': 'WA', 'zipCode': '98042'}}, 'id': '292-Swaying-Pine-Ct,-Crestview,-FL-32539', 'longitude': -86.547856, 'latitude': 30.731462}, {'addressLine1': '1326 Knight Ave', 'city': 'Flint', 'state': 'MI', 'zipCode': '48503', 'formattedAddress': '1326 Knight Ave, Flint, MI 48503', 'bedrooms': 2, 'squareFootage': 760, 'yearBuilt': 1938, 'county': 'Genesee', 'assessorID': '40-23-132-025', 'legalDescription': 'CORUNNA HEIGHTS LOT 90', 'subdivision': 'CORUNNA HEIGHTS', 'zoning': 'A2', 'bathrooms': 1, 'lotSize': 5271, 'propertyType': 'Single Family', 'lastSalePrice': 21700, 'lastSaleDate': '1987-05-01T00:00:00.000Z', 'features': {'exteriorType': 'Siding', 'floorCount': 1, 'heating': True, 'heatingType': 'Forced Air', 'roomCount': 5}, 'taxAssessment': {'2022': {'value': 10700}}, 'owner': {'names': ['AZIZ MASSAD', 'AZIZ DIANE MASSAD'], 'mailingAddress': {'id': '1461-W-Maple-Ave,-Flint,-MI-48507', 'addressLine1': '1461 W Maple Ave', 'city': 'Flint', 'state': 'MI', 'zipCode': '48507'}}, 'id': '1326-Knight-Ave,-Flint,-MI-48503', 'longitude': -83.726221, 'latitude': 43.000095}, {'addressLine1': '3311 W Sunset Ave', 'city': 'Boise', 'state': 'ID', 'zipCode': '83703', 'formattedAddress': '3311 W Sunset Ave, Boise, ID 83703', 'assessorID': 'R5154250070', 'bedrooms': 3, 'county': 'Ada', 'legalDescription': 'LT 2 EXC E20 E50 LOT 3 BLK 2 ILO LARSON SUB #720/771', 'squareFootage': 1128, 'subdivision': 'ILO LARSON SUB', 'yearBuilt': 1958, 'zoning': 'R-1C', 'bathrooms': 1, 'lotSize': 10019, 'propertyType': 'Single Family', 'features': {'architectureType': 'Conventional', 'cooling': True, 'coolingType': 'Commercial', 'exteriorType': 'Aluminum / Vinyl Siding', 'fireplace': True, 'floorCount': 1, 'garage': True, 'garageSpaces': 2, 'garageType': 'Attached', 'heating': True, 'unitCount': 1}, 'taxAssessment': {'2020': {'value': 275200}, '2022': {'value': 391000, 'land': 253800, 'improvements': 137200}, '2023': {'value': 366800, 'land': 270000, 'improvements': 96800}}, 'propertyTaxes': {'2019': {'total': 2140}, '2022': {'total': 3397}}, 'ownerOccupied': False, 'owner': {'names': ['3311 SUNSET LLC'], 'mailingAddress': {'id': '5489-N-Beethoven-Ave,-Meridian,-ID-83646', 'formattedAddress': '5489 N Beethoven Ave, Meridian, ID 83646', 'addressLine1': '5489 N Beethoven Ave', 'city': 'Meridian', 'state': 'ID', 'zipCode': '83646'}}, 'id': '3311-W-Sunset-Ave,-Boise,-ID-83703', 'longitude': -116.230156, 'latitude': 43.643012}]

let first save this response file as a json file

In [6]:
data= response.json()

file_name= 'real_estate.json'

with open(file_name, 'w') as file:
    json.dump(data,file, indent=4)

In [8]:
real_estate_df=pd.read_json('real_estate.json')

real_estate_df.head()

,addressLine1,city,state,zipCode,formattedAddress,addressLine2,county,assessorID,legalDescription,lotSize,...,id,longitude,latitude,squareFootage,subdivision,yearBuilt,zoning,bathrooms,lastSalePrice,bedrooms
0,1457 W 1625 S,Cedar City,UT,84720,"1457 W 1625 S, Unit E, Cedar City, UT 84720",Unit E,Iron,B-1386-0005-0000,"UNIT 5, CEDAR EDGE P.U.D., PHASE I; TOG W/ UND...",1394,...,"1457-W-1625-S,-Unit-E,-Cedar-City,-UT-84720",-113.081311,37.648168,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3326 Spangler Dr,Lexington,KY,40517,"3326 Spangler Dr, Lexington, KY 40517",NaN,Fayette,14192857,B-596A KIRKLEVINGTON SOUTH LOT 8; BOOK: 3703 P...,8281,...,"3326-Spangler-Dr,-Lexington,-KY-40517",-84.502713,37.984493,2414.0,KIRKLEVINGTON SOUTH,1978.0,R-3,3.0,209000.0,5.0
2,292 Swaying Pine Ct,Crestview,FL,32539,"292 Swaying Pine Ct, Crestview, FL 32539",NaN,Okaloosa,28-3N-23-1020-000C-0960,ROLLING PINES T/H LOT 96 BLK C,1944,...,"292-Swaying-Pine-Ct,-Crestview,-FL-32539",-86.547856,30.731462,1356.0,ROLLING PINES T/H,2007.0,NaN,2.0,182500.0,3.0
3,1326 Knight Ave,Flint,MI,48503,"1326 Knight Ave, Flint, MI 48503",NaN,Genesee,40-23-132-025,CORUNNA HEIGHTS LOT 90,5271,...,"1326-Knight-Ave,-Flint,-MI-48503",-83.726221,43.000095,760.0,CORUNNA HEIGHTS,1938.0,A2,1.0,21700.0,2.0
4,3311 W Sunset Ave,Boise,ID,83703,"3311 W Sunset Ave, Boise, ID 83703",NaN,Ada,R5154250070,LT 2 EXC E20 E50 LOT 3 BLK 2 ILO LARSON SUB #7...,10019,...,"3311-W-Sunset-Ave,-Boise,-ID-83703",-116.230156,43.643012,1128.0,ILO LARSON SUB,1958.0,R-1C,1.0,NaN,3.0

In [9]:
real_estate_df.columns

Index(['addressLine1', 'city', 'state', 'zipCode', 'formattedAddress',
       'addressLine2', 'county', 'assessorID', 'legalDescription', 'lotSize',
       'propertyType', 'lastSaleDate', 'ownerOccupied', 'features',
       'taxAssessment', 'propertyTaxes', 'owner', 'id', 'longitude',
       'latitude', 'squareFootage', 'subdivision', 'yearBuilt', 'zoning',
       'bathrooms', 'lastSalePrice', 'bedrooms'],
      dtype='object')

In [10]:
real_estate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   addressLine1      5 non-null      object
 1   city              5 non-null      object
 2   state             5 non-null      object
 3   zipCode           5 non-null      int64
 4   formattedAddress  5 non-null      object
 5   addressLine2      1 non-null      object
 6   county            5 non-null      object
 7   assessorID        5 non-null      object
 8   legalDescription  5 non-null      object
 9   lotSize           5 non-null      int64
 10  propertyType      5 non-null      object
 11  lastSaleDate      4 non-null      object
 12  ownerOccupied     3 non-null      float64
 13  features          5 non-null      object
 14  taxAssessment     5 non-null      object
 15  propertyTaxes     4 non-null      object
 16  owner             5 non-null      object
 17  id                5 non-null      object
 18  longitude         5 non-null      float64
 19  latitude          5 non-null      float64
 20  squareFootage     4 non-null      float64
 21  subdivision       4 non-null      object
 22  yearBuilt         4 non-null      float64
 23  zoning            3 non-null      object
 24  bathrooms         4 non-null      float64
 25  lastSalePrice     3 non-null      float64
 26  bedrooms          4 non-null      float64
dtypes: float64(8), int64(2), object(17)
memory usage: 1.2+ KB

## Step2: Transformation Layer
In this layer we would proceed to cleaning the data and breaking it into smaller tables/columns(normalization)

first lets replace missing values

In [13]:
# replacing missing values with appropriate replacements
real_estate_df.fillna({
    'bedrooms':0.0,
    'bathrooms':0.0,
    'squareFootage':0.0,
    'yearBuilt':0.0,
    'features': 'unknown',
    'assessorID':'unknown',
    'legalDescription':'unknown',
    'ownerOccupied':0.0,
    'bathrooms':0.0,
    'lotSize':0.0,
    'propertyType':'unknown',
    'taxAssessment':'unknown',
    'propertyTaxes':'unknown',
    'lastSalePrice':'0.0',
    'zoning ':'unknown',
    'addressLine2':'unknown'
}, inplace=True)

In [14]:
real_estate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   addressLine1      5 non-null      object
 1   city              5 non-null      object
 2   state             5 non-null      object
 3   zipCode           5 non-null      int64
 4   formattedAddress  5 non-null      object
 5   addressLine2      5 non-null      object
 6   county            5 non-null      object
 7   assessorID        5 non-null      object
 8   legalDescription  5 non-null      object
 9   lotSize           5 non-null      int64
 10  propertyType      5 non-null      object
 11  lastSaleDate      4 non-null      object
 12  ownerOccupied     5 non-null      float64
 13  features          5 non-null      object
 14  taxAssessment     5 non-null      object
 15  propertyTaxes     5 non-null      object
 16  owner             5 non-null      object
 17  id                5 non-null      object
 18  longitude         5 non-null      float64
 19  latitude          5 non-null      float64
 20  squareFootage     5 non-null      float64
 21  subdivision       4 non-null      object
 22  yearBuilt         5 non-null      float64
 23  zoning            3 non-null      object
 24  bathrooms         5 non-null      float64
 25  lastSalePrice     5 non-null      object
 26  bedrooms          5 non-null      float64
dtypes: float64(7), int64(2), object(18)
memory usage: 1.2+ KB

## Step is to draw our data Model on Lucid chart/ draw.io

Now lets build the normalised tables,using the data model we already created as a guide. so we open the data model side by side and start creating the tables with the primary keys first

In [15]:
real_estate_df.columns

Index(['addressLine1', 'city', 'state', 'zipCode', 'formattedAddress',
       'addressLine2', 'county', 'assessorID', 'legalDescription', 'lotSize',
       'propertyType', 'lastSaleDate', 'ownerOccupied', 'features',
       'taxAssessment', 'propertyTaxes', 'owner', 'id', 'longitude',
       'latitude', 'squareFootage', 'subdivision', 'yearBuilt', 'zoning',
       'bathrooms', 'lastSalePrice', 'bedrooms'],
      dtype='object')

In [19]:
# Features Table
features_dim_df=real_estate_df[['bedrooms','squareFootage','features', 'bathrooms','lotSize']].copy().drop_duplicates().reset_index(drop=True)

features_dim_df.head()

TypeError: unhashable type: 'dict'

## Loading Layer

In [20]:
# Develop a function to get the database connections
def get_db_connection():
    connection = psycopg2.connect(
        host='localhost',
        database='zuma_realtors',
        user='postgres',
        password='Avokerie3'
    )
    return connection

# connect to our database
conn = get_db_connection

In [21]:
# create functions that will set up the schema and the tables
def create_tables():
    conn=get_db_connection()
    cursor=conn.cursor()
    create_table_query= '''
                            CREATE SCHEMA IF NOT EXISTS zuma_realtors;

                            DROP TABLE IF EXISTS zuma_realtors.location_dim CASCADE;
                            DROP TABLE IF EXISTS zuma_realtors.sales_dim CASCADE;
                            DROP TABLE IF EXISTS zuma_realtors.features_dim CASCADE;
                            DROP TABLE IF EXISTS zuma_realtors.property_fact_table CASCADE;                           

                            CREATE TABLE IF NOT EXISTS zuma_realtors.location_dim(
                                location_id INTEGER PRIMARY KEY,
                                addressLine1 VARCHAR(100000),
                                city VARCHAR(100000),
                                state VARCHAR(100000),
                                zipCode INTEGER,
                                formattedAddress VARCHAR(100000),
                                county VARCHAR(100000),
                                longitude INTEGER,
                                latitude INTEGER,
                                addressLine VARCHAR(100000)
                                );
                            CREATE TABLE IF NOT EXISTS zuma_realtors.sales_dim(
                                sales_id INTEGER PRIMARY KEY,
                                lastSalePrice FLOAT,
                                lastSaleDate DATE
                                );
                            CREATE TABLE IF NOT EXISTS zuma_realtors.features_dim(
                                features_id INTEGER PRIMARY KEY,
                                bedrooms FLOAT,
                                squareFootage FLOAT,
                                features VARCHAR(100000),
                                bathrooms FLOAT,
                                lotside FLOAT
                                );
                            
                            CREATE TABLE IF NOT EXISTS zuma_realtors.property_fact_table(
                                id INTEGER PRIMARY KEY,
                                location_id INTEGER,
                                sales_id INTEGER,
                                features_id INTEGER,
                                yearBuilt FLOAT,
                                assessorID VARCHAR(100000),
                                legalDescription VARCHAR(100000),
                                ownerOccupied FLOAT,
                                propertyType VARCHAR(100000),
                                taxAssessment VARCHAR(100000),
                                propertyTaxes VARCHAR(100000),
                                subdivision VARCHAR(100000),
                                zoning VARCHAR(100000),
                                FOREIGN KEY (location_id) REFERENCES zuma_realtors.location_dim(location_id),
                                FOREIGN KEY (sales_id) REFERENCES zuma_realtors.sales_dim(sales_id),
                                FOREIGN KEY (features_id) REFERENCES zuma_realtors.features_dim(features_id)
                                );
                            '''
    cursor.execute(create_table_query)
    conn.commit()
    cursor.close()
    conn.close()

In [22]:
create_tables()